.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background: #fff;
  border-radius: 5px;
  margin-top: 50px;
  width: 80%;
}

.header {
  display: contents;
  font-weight: bold;
  background: #fff;
}

.headerItem {
  text-align: left;
  padding: 10px;
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.headerItem:first-child , .headerItem:last-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
}

.card {
  display: contents;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  outline: none;
}

.item {
  padding: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.item:first-child, .item:last-child{
  display: flex;
  justify-content: center;
}

.item:last-child {
  border-right: none;
}

@media (min-width: 768px) {
  .container {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 1280) {
  .container {
    width: 55%;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 45%;
  }
}