* {
  margin: 0;
  padding: 0;    
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none; /* Previene la selección de texto */
  -webkit-user-select: none; /* Para navegadores basados en WebKit (Chrome, Safari) */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para Internet Explorer y Edge */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.confirmButton {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  background: #007bff;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.buttonContainer{
  width: 80%;
}

.textIntro {
  margin-top: 50px;
  text-align: left;
  font-size: 1.2rem;
  width: 80%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .buttonContainer{
    width: 65%;
  }
  .confirmButton{
    width: 65%;
  }

  .textIntro{
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .buttonContainer{
    width: 60%;
  }
  .confirmButton{
    width: 60%;
  }

  .textIntro{
    width: 60%;
  }
}

@media (min-width: 1280) {
  .buttonContainer{
    width: 55%;
  }
  .confirmButton{
    width: 55%;
  }

  .textIntro{
    width: 55%;
  }
}

@media (min-width: 1536px) {
  .buttonContainer{
    width: 45%;
  }
  .confirmButton{
    width: 45%;
  }

  .textIntro{
    width: 45%;
  }
}